{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>JejaKarbon</title>
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'image/mainImage.png' %}">
      </div>
      <div class="col">
          <div class="row">
            <img src="{% static 'image/logo_1.png' %}">
          </div>
          <div class="row">
            <p class="text-center">Track your Carbon Footprint and donate to nature for a better future!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}