{% extends 'base.html' %}

{% block content %}
<div class="header"></div>

<div class="plih-pemakaian">
    <div class="form-usage">
        <form id="choose-usage" action="" method="post">
            <label for="usage">Jejak Karbon:</label>
            <select name="usage" id="dropdown-usage">
                <option value="listrik">Listrik</option>
                <option value="mobil">Mobil</option>
                <option value="motor">Motor</option>
            </select>
        </form>
        <p>ini nyoba aja seh</p>
    </div>
</div>

<div class="pemakaian-carbon">
    <div class="form-carbon">
        <form action="" method="post" id="listrik-detail"></form>

        <form action="" method="post" id="mobil-detail" ></form>
        
        <form action="" method="post" id="motor-detail"></form>
    </div>
</div>

<div class="show-offset"></div>

<script>
    $(document).ready(function(data){
        var usage = $('#dropdown-usage').val();

    })
</script>
{% endblock content %}