body{
    box-sizing: border-box;
}


#aside{
    background-color: #EBFBEA;
    border-radius: 10px;
    
}

.form-control:focus {
    border-color: #4A9745;
    box-shadow: 0 0 0 0.2rem #75C270;
} 

.form-control{
    border-color: #4A9745;
}

.btn-submit{
    color: #4A9745;
    background-color: #fff;
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 24px 33px 26px -19px rgba(0,0,0,0.32);
    -webkit-box-shadow: 24px 33px 26px -19px rgba(0,0,0,0.32);
    -moz-box-shadow: 24px 33px 26px -19px rgba(0,0,0,0.32);
}

.btn-submit:hover{
    background-color: #EBFBEA;
    transition: 0.5s;
    font-size: 102%;
}