{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock meta %}


{% block content %}

<div class = "login">
    <h1 class="title">Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container justify-content-center">
            <table>
                <tr>
                    <td><input type="text" name="username" placeholder="Username" class="form-control field-login"></td>
                </tr>
                        
                <tr>
                    <td><input type="password" name="password" placeholder="Password" class="form-control field-login"></td>
                </tr>
    
                <tr>
                    <td><input class=" btn-green" type="submit" value="Login"></td>
                </tr>
            </table>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p>Belum mempunyai akun? <strong><a href="{% url 'register:register' %}">Buat Akun</a></strong><p>

</div>

{% endblock content %}