
{% extends 'base.html' %}
{% load static %}


{% block meta %}
<title>Donasi - Jejakarbon</title>
    

    
{% endblock meta %}
    <!-- fonts poppins -->
    
{% block content %}  
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap');
    

      h1 {
      padding: 10px 0;
      font-size: 32px;
      font-weight: 200px;
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #75C270;
      }

     
      .main-block {
      max-width: 500px; 
      min-height: 430px; 
      padding: 20px 2px;
      margin: auto;
      border-radius: 5px; 
      background: #ffffff; 
      }
      
     
     
     

    

     

      h2{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500px;
        font-size: 20px;
        color: #75C270;
       
      }


      .gambar{
        box-sizing: border-box;
        width: 440px;
        height: 200px;
        margin-left: 25px;
        background: #ffffff;
     
        
      }

      .space{
        margin-left: 60px;
      }

      .kotak{
        width: 400px;
        height: 200px;
        margin-top: 30px;
        margin-left: 45px;
        top: 774px;

        background: #EBFBEA;
        
        border-radius: 12.3232px;
      }

     .his{
        margin-top: 10px;
        margin-left: 75px;
       
     }


</style>

<div class="main-block">
    
    <h1>Terima kasih telah Berdonasi 🙏🏻</h1>
    <label class="gambar">
        <img src="{% static 'image/space.png' %}" style="max-height: 200px" class="space">
    </label>
    <label class="kotak">
        <h2 class="his">Histori donasi {{user.username}} + {{obj.deskripsi}}</h2>

    </label>
   
    
    
  </div>
{% endblock content %}